<div class="grid grid-cols-8 divide-x text-black align-middle">
  <div (click)="changeAllSel()" class="pl-2 my-2 align-middle">
    {{ format(hour.hora, "hh:mm aa") }}
  </div>
  <div (click)="changeSel('domingo')" [ngClass]="{'ring-1 ring-slate-800':selectArray.domingo}" class="pl-2 my-2 align-middle {{colorArray.domingo}}">{{ hour.domingo }}</div>
  <div (click)="changeSel('lunes')" [ngClass]="{'ring-1 ring-slate-800':selectArray.lunes}" class="pl-2 my-2 align-middle {{colorArray.lunes}}">{{ hour.lunes }}</div>
  <div (click)="changeSel('martes')" [ngClass]="{'ring-1 ring-slate-800':selectArray.martes}" class="pl-2 my-2 align-middle {{colorArray.martes}}">{{ hour.martes }}</div>
  <div (click)="changeSel('miercoles')" [ngClass]="{'ring-1 ring-slate-800':selectArray.miercoles}" class="pl-2 my-2 align-middle {{colorArray.miercoles}}">{{ hour.miercoles }}</div>
  <div (click)="changeSel('jueves')" [ngClass]="{'ring-1 ring-slate-800':selectArray.jueves}" class="pl-2 my-2 align-middle {{colorArray.jueves}}">{{ hour.jueves }}</div>
  <div (click)="changeSel('viernes')" [ngClass]="{'ring-1 ring-slate-800':selectArray.viernes}" class="pl-2 my-2 align-middle {{colorArray.viernes}}">{{ hour.viernes }}</div>
  <div (click)="changeSel('sabado')" [ngClass]="{'ring-1 ring-slate-800':selectArray.sabado}" class="pl-2 my-2 align-middle {{colorArray.sabado}}">{{ hour.sabado }}</div>
</div>

